- var navs = [ { title:'首页', path:'/', icon:'images/home.png' }, { title:'实验', path:'/try', icon:'images/nest.png' }, { title:'关于', path:'/about', icon:'images/chook.png' }, { title:'留言', path:'/leave', icon:'images/bird.png' } ]
.nav.w
    ul
        - for (var x = 0; x < navs.length; x++)
            if route === navs[x].path
                li.active
                    a(href= navs[x].path)
                        img(src=navs[x].icon, alt=navs[x].title)
                        span= navs[x].title
            else
                li
                    a(href= navs[x].path)
                        img(src=navs[x].icon, alt=navs[x].title)
                        span= navs[x].title
    .search
        input(placeholder="请输入关键字")
        .search-icon
        .search-line
.header-bg.w
    .logo